<h1>Hey This is it!</h1>
<form action="/form" method="post">
	<input type="text" name="destination" placeholder="Destination">
	<input type ="text" name="email" placeholder = "Your Email">
	<input type="submit">
</form>